body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 700px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}


.top {
    background: white;
    padding: 30px;
}

.top h2 {
    color: #2bb3b1;
    margin-bottom: 10px;
}

.top h4 {
    color: #c0df34;
    margin-bottom: 10px;
}

.top p {
    color: #777;
    font-size: 14px;
}


.bottom {
    display: flex;
}

.left {
    flex: 1;
    background: #2bb3b1;
    padding: 30px;
    color: white;
}

.left h3 {
    margin-top: 0;
}

.price {
    font-size: 32px;
    font-weight: bold;
}

.price span {
    font-size: 14px;
    opacity: 0.7;
    margin-left: 5px;
}

.left p {
    margin: 10px 0 20px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #c0df34;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #a8c92c;
}


.right {
    flex: 1;
    background: #4abebd;
    padding: 30px;
    color: white;
}

.right h3 {
    margin-top: 0;
}

.right ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
}

.right li {
    margin-bottom: 6px;
}