.container {
    display: flex; /* ვაქცევთ ელემენტს flex კონტეინერად */

    /* X ღერძზე ჰორიზონტალურად ელემენტების განლაგება */

    justify-content: flex-start;
    /* ელემენტები იწყობა მარცხენა მხრიდან */

    justify-content: flex-end;
    /* ელემენტები გადადის მარჯვენა მხარეს */

    justify-content: center;
    /* ელემენტები განლაგებულია ცენტრში */

    justify-content: space-between;
    /* პირველი ელემენტი მარცხნივ, ბოლო მარჯვნივ,
       შუაში ელემენტებს შორის თანაბარი დაშორება */

    justify-content: space-around;
    /* თითოეულ ელემენტს აქვს გარშემო სივრცე,
       მაგრამ კიდეებთან ნაკლები დაშორებაა */

    justify-content: space-evenly;
    /* ელემენტებს შორის და კიდეებთან დაშორება ზუსტად ერთნაირია */
}
.container {
    display: flex;
    gap: 20px; /* ყველა ელემენტს შორის იქნება 20px დაშორება */
}