#fristh1{
    color: blue;
    font-size: 20px;
}
#fristh1{
    color: blueviolet;
    font-size: 24px;
}
#fristp1{
    color: brown;
    font-size: 19px;
}
#fristp2{
    color: cyan;
    font-size: 18px;
}
#fristp3{
    color: crimson;
    font-size: 21px;
}