/* 
:nth-child() ფსევდო-სელექტორს ვიყენებთ იმისთვის,
რომ ავირჩიოთ ელემენტები მათი მდებარეობის (რიგის ნომრის) მიხედვით
მშობელ ელემენტში.

მას გადაეცემა მნიშვნელობები, როგორიცაა:
- კონკრეტული რიცხვი (1, 2, 3...)
- even (ლუწი ელემენტები)
- odd (კენტი ელემენტები)
*/
/* 
border-collapse: collapse;
ეს თვისება გამოიყენება მხოლოდ ცხრილებზე 

მისი დანიშნულებაა ცხრილის უჯრედების (td, th) საზღვრების გაერთიანება ერთ საზღვრად.
ნაგულისხმევად (separate რეჟიმში) თითოეულ უჯრედს საკუთარი border აქვს
და ეს ქმნის ორმაგ ხაზებს.

რატომ ვიყენებთ?
- რომ ცხრილი გამოიყურებოდეს სუფთად და ლამაზად
- რომ არ გვქონდეს ორმაგი border-ები უჯრედებს შორის
- რომ დიზაინი იყოს უფრო მარტივი და გასაგები

ხშირად გამოიყენება ცხრილების სტილიზაციისას:
table {
    border-collapse: collapse;
}
*/

.list-default {
    list-style-type: disc;
}


.list-empty {
    list-style-type: circle;
}


.list-none {
    list-style-type: none;
}


.list-square {
    list-style-type: square;
}