.parent {
  width: 700px;
  height: 700px;
  border: 3px solid red;
  display: flex;
  flex-direction: row-reverse;
}

.child {
  width: 150px;
  height: 150px;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
}