#car1 {
  color: red;
  font-size: 20px;
}

#car2 {
  color: blue;

}

#car3 {
  color: green;
  font-size: 21px;
}

#car4 {
  color: purple;
  background-color: lightyellow;
}

#car5 {
  color: brown;
}
