
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
    background-color:aliceblue;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: black;

}
